name: release

on:
  push:
    tags:
      - '*'

jobs:

  create_release:
    name: Create Release
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
    - name: release
      uses: ncipollo/release-action@v1
      id: create_release
      with:
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ github.token }}

  build:
    name: Build
    needs: create_release
    strategy:
      matrix:
        goos:
          - linux
          - darwin
          - windows
          - freebsd
        goarch:
          - amd64
          - arm64
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: set up go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: build ${{ matrix.goos }} ${{ matrix.goarch }}
        env:
          CGO_ENABLED: 0
        run: |
          GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -ldflags="-X main.Version=$GITHUB_REF_NAME" -o s3-cli_${{ matrix.goos }}_${{ matrix.goarch }}

      - name: upload ${{ matrix.goos }} ${{ matrix.goarch }} artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ needs.create_release.outputs.upload_url }}
          asset_path: ./s3-cli_${{ matrix.goos }}_${{ matrix.goarch }}
          asset_name: s3-cli_${{ matrix.goos }}_${{ matrix.goarch }}
          asset_content_type: application/octet-stream
