name: Tests
on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Go (stable)
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Run Tests
        run: |
          go test -v
